# MSVC Windows builds of rustc generate these, which store debugging information
*.pdb

# Python tmp files
__pycache__

# IDE
.idea
.vscode

# Virtual environments
.venv

# Environment variables
.env

# Caches
.mypy_cache
.ruff_cache
